### IntelliJ IDEA ###
.idea
*.iml
*.iws
*.ipr
out

### VS Code ###
.vscode

### Eclipse ###
.project
.classpath
.settings
bin
.metadata
*.launch
.recommenders
 
### Build outputs ###
target
build
 
### Logs ###
*.log
 
### Archivos del SO ###
.DS_Store
Thumbs.db

