
#####################################
# LOGS
#####################################

*.log

#####################################
# INTELLIJ IDEA
#####################################

.idea/
*.iml

#####################################
# VISUAL STUDIO CODE
#####################################

.vscode/

#####################################
# MAVEN / SPRING BOOT
#####################################

target/
backend/target/
